.artist-info {
  @extend .media;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid  rgba(theme-color('secondary'), 0.8);
}
.artist-bio {
  transition: all 0.5s ease-in-out;
  display: block;
  &__short,
  &__long {
    display: none;
    &.visible {
      display: block;
    }
  }
  &__long {
    max-width: 100%;
    word-break: break-all;
  }
}

.library-detail.artist-detail {
  .progress-circular {
    position: absolute;
    left: 50%;
    margin-top: 50vh;
  }
  .list {
    .col {
      @include media-breakpoint-up(sm) {
        @include make-col(12/2);
      }
      @include media-breakpoint-up(md) {
        @include make-col(12/2.5);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(12/3);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(12/4);
      }
    }
  }
}
