.library-detail {
  position: static;
  .progress,
  .progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .backdrop {
    background: theme-color('light');
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-right: ($grid-gutter-width / 2);
    margin-left: ($grid-gutter-width / 2);
    + section {
      margin-top: 30vmin;
      background: transparent;
      z-index: 1;
    }
    .image-backdrop {
      width: 100%;
      height: 56.25vw;

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      left: 0;
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
      box-shadow: inset 0px -27vw 20vw -10vw theme-color('light');
      @include media-breakpoint-up(sm) {
        box-shadow: inset 0px -27vw 20vw -2vh theme-color('light');
      }
    }
  }

  .section-header {
    padding: 0 0;
    margin-left: -20px;
    margin-bottom: 15px;
    flex: 1 1 100%;
    color: theme-color('primary');
    text-shadow: 0 2px $white;
  }
  section {
    padding: 20px 36px;
    @include media-breakpoint-down(xs) {
      margin: 100px 0px 20px 0px;
      padding: 10px 8px;
    }
    .detail-info-wrapper {
      display: flex;
      padding: 20px;
      flex-direction: column;
      background: linear-gradient(to bottom, rgba(theme-color('light'), 0.0), rgba(theme-color('light'), 0.5));
      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }
    }
    &.list,
    .song-list {
      background: rgba(theme-color('light'), 0.5);
      box-shadow: none;
      margin-left: 0;
      margin-right: 0;
    }
    .song-list {
      margin-top: 0;
      padding: 2rem 1.6rem 0;
    }
  }
  .actions {
    float: none;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
    .btn-float {
      height: 2rem;
      line-height: 1.75rem;
      width: 2rem;
      margin-left: 0.25rem;
      @include media-breakpoint-up(md) {
        height: 3.0rem;
        line-height: 3.0rem;
        min-width: 3.0rem;
        padding: 0;
        width: 3.0rem;
        i {
          font-size: 1.75rem;
        }
      }
    }
  }
  .meta {
    display: flex;
    margin: 0.25rem 0;
    padding: 10px 0;
    flex-direction: column;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
    .chip {
      background: theme-color('light');
      color: theme-color('dark');
      margin-bottom: 0.5rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      i {
        color: theme-color('light');
      }
    }

  }
}

.detail-art {
  flex: 0 0 220px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  @include media-breakpoint-down(xs) {
    width: 100%;
    flex: 1 0 100%;
    img {
      width: auto;
      max-width: 100%;
      margin: -100px auto 10px auto;
      display: block;
    }

  }
  .detail-art-img {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid theme-color('light');
    object-fit: contain;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      height: auto;
      z-index: 0;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 10%;
      left: 0px;
      bottom: -8px;
      z-index: 1;
      background: radial-gradient(rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 50%, rgba(225, 225, 225, 0) 51%, rgba(246, 246, 246, 0) 100%);
    }
  }
  .meta {
    margin-top: 10px;
  }
}

.detail-info {
  flex: 1 1 calc(100% - 220px);
  @include media-breakpoint-down(xs) {
    float: left;
    max-width: 100%;
  }
  h3 {
    font-size: 3rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-shadow: 1px 1px theme-color();
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
    img {
      margin-right: 10px;
      width: 50%;
    }
    + h1 {
      font-weight: 300;
      word-wrap: break-word;
    }
  }
  h1 {
    font-size: 4rem;
    color: theme-color();
    text-shadow: 1px 1px theme-color('light');
    text-transform: capitalize;
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
    img {
      max-width: 100%;
    }
  }
}
