.song-list {
  background-color: $songlist-bg-color;
  box-shadow: map-get($shadows, 2);
  margin: $grid-gutter-width-base * 2 0;
  .song-list-header,
  .song-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .song-list-header {
    border-bottom: 3px solid theme-color('secondary');
    .col {
      font-weight: 700;
      padding: 5px 15px;
      border-bottom: none;
      height: auto;
    }
  }
  .song-list-item {
    border-bottom: 1px solid $divider-color;
    transition: background-color 0.3s ease;
    &.playing {
      background-color: rgba($player-txt-color, 1);
      .track-number {
        opacity: 0;
      }
      .col-track {
        position: relative;
        &:after {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0;
          right: 0;
          z-index: 2;
          content: "";
          width: 40px;
          display: block;
          background: url('#{$general}/now-playing.gif') rgba($player-txt-color, 0.6);
          background-position: right;
        }
      }
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: rgba(theme-color('light'), 0.5);
      a {
        color: theme-color('secondary');
      }
      .action {
        a {
          display: block;
        }
        span {
          display: none;
        }
      }
    }
    .action a {
      display: none;
    }
  }
  .col {
    padding: 5px 15px;
    display: inline-block;
    flex: 1 1 25%;
    vertical-align: middle;
    &.col-track {
      text-align: right;
    }
    &.col-playcount,
    &.col-track {
      text-align: center;
      flex-basis: 10%;
    }
    &.col-title {
      flex-basis: 30%;
      @include text-truncate();
    }
    &.col-duration {
      flex-basis: 15%;
      text-align: center;
    }
    &.col-artist {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    &.col-queue {
      flex-basis: 20px;
      text-align: right;
    }
  }
}
