/* ==========================================================================
   Config

   This file is exclusively intended for setting up imports
   Never add styles directly to this file
   ========================================================================== */

/* General
   ========================================================================== */
@function gray($key: "100") {
  @return map-get($grays, $key);
}

@import '~daemonite-material/assets/scss/colors';
@import '~daemonite-material/assets/scss/functions';
$yiq-text-light: $light-theme-1;
$yiq-text-dark: $dark-theme-1;
@import "general/colors";
@import "vendors/bootstrap-vars";


@import '~daemonite-material/assets/scss/mixins';
@import '~daemonite-material/assets/scss/variables';


@import "general/general";
@import "components/components";

/* Vendors
   ========================================================================== */
@import "vendors/bootstrap-imports";
@import "vendors/material-icons";

