.card {
  position: relative;
  .card-img {
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      display: block;
      content: "";
      transition: background-color 1ms ease-in-out;
    }
  }
  &:hover {
    box-shadow: inset 1px 1px 4px 0 rgba($white,0.45), inset 1px 1px 2px 0 rgba($white,0.5), inset -1px -1px 2px 0 rgba($white,0.5);
    .card-img {
      &:after {
        background: rgba(theme-color('primary'),0.2);
        background: linear-gradient(-55deg, rgba($white, 0.1) 0%, rgba(244, 244, 244, 0.35) 49%, rgba(225, 225, 225, 0.34) 51%, rgba(246, 246, 246, 0) 100%);
      }
    }
    .action-sheet {
      height: 100%;
      z-index: 1;
      li {
        opacity: 1;
      }
    }
  }
}

.action-sheet {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  z-index: -1;
  text-align: right;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0.5rem 0;
  height: 100%;
  li {
    opacity: 0;
    flex: 0 0 auto;
    padding-right: 0.25rem;
    transition: opacity 0.3s ease;
    margin-top: auto;
    .btn {
      margin-top: auto;
      i {
        font-size: 1.6rem;
      }
    }
  }
  .btn-floating {
    z-index: 2;
  }
}
