/* ==========================================================================
   Header - Breadcrumb navigation
   ========================================================================== */

.breadcrumb-fixed {
    position: fixed;
    left: 50px;
    top: 0;
    line-height: 1.75rem;

    transition: left 0.3s ease;

    background: transparent;
    display: flex;
    margin: 0;
    padding: 15px;
    z-index: $zindex-fixed;

    text-align: center;
    z-index: $zindex-fixed;
    .slide-nav-out & {
        left: 150px;
    }
    .breadcrumb-item {
        &:before {
            color: theme-color('secondary');
        }
        text-transform: capitalize;
        color: theme-color('light');
    }
}
