/* ==========  Footer  ========== */
$footer-fixed-height: 90px;
$footer-bg-color: theme-color('dark');
$footer-color: theme-color();
$footer-heading-color: theme-color();
$footer-button-fill-color: $footer-color;
$footer-underline-color: $footer-color;
