/* ==========  Player  ========== */
$player-bg-color : map_get(theme-color(),color);
$player-border-color:  #263238;
$player-txt-color : map_get(theme-color('light'),color);
$player-button-color:map_get(theme-color('secondary'),color);

$plyr-font-family: $font-family-base;
$plyr-color-main:map_get(theme-color(),color);
$plyr-control-spacing: 0;

$plyr-audio-controls-bg:                transparent;
$plyr-audio-controls-border:            none;
$plyr-audio-control-color:              map_get(theme-color('secondary'),color) !default;
$plyr-audio-control-color-hover:        #fff !default;
$plyr-audio-control-bg-hover:           $plyr-color-main;

$plyr-range-selected-bg:map_get(theme-color('secondary'),color);
$plyr-audio-range-track-bg:map_get(theme-color('dark'),color);
$plyr-audio-control-bg-hover:map_get(theme-color('secondary'),color);
// Progress
$plyr-progress-loading-size:            25px ;
$plyr-progress-loading-bg:              rgba(map_get(theme-color('secondary'),color), .85) ;
$plyr-audio-progress-bg:                rgba(map_get(theme-color('dark'),lighter), .33) ;
$plyr-audio-progress-buffered-bg:       rgba(map_get(theme-color('dark'),darker), .33);

$plyr-range-thumb-bg: map_get(theme-color('secondary'),color);
$plyr-range-thumb-active-bg: map_get(theme-color('secondary'),color);
$plyr-range-thumb-border: 1px solid transparent;
$plyr-range-thumb-active-border-color: rgba(map_get(theme-color('secondary'),darker), 0.85);
$plyr-range-thumb-shadow: 0 1px 1px rgba(map_get(theme-color('secondary'),lighter), 0.85);

$plyr-tooltip-padding: 0.25rem;
$plyr-tooltip-bg: rgba(map_get(theme-color('secondary'),color), 0.85);
$plyr-tooltip-color: map_get(theme-color('light'),lighter);
