/* ==========  Playlist  ========== */
$playlist-width: 250px;
$playlist-bg-color: theme-color('light');
$playlist-txt-color: theme-color-dark('dark');
$playlist-border-color: 1px solid rgba(0, 0, 0, 0.06);
$playlist-item-hover-bg-color: $white;
