.playing-overlay {

  position: fixed;
  top:56px;
  left: 0; //$navdrawer-width;
  bottom: $footer-fixed-height;
  width: 100%; //calc(100% - #{$navdrawer-width});
  display: block;
  z-index: $zindex-popover;
  background-color: rgba(map-get(theme-color('dark'), darker),1);

  .btn-close {
    position: absolute;
    top: $grid-gutter-width-base;
    right: $grid-gutter-width-base;
    height: 1.4rem;
    line-height: 1.2rem;
    width: 1.4rem;
  }
  #bars {
    position: absolute;
    bottom: 0;
    .bar {
      &:nth-child(1n) {
        background: map-get(theme-color('primary'), lighter);
      }
      &:nth-child(2n) {
        background: map-get(theme-color('secondary'), color);
      }
      &:nth-child(3n) {
        background: map-get(theme-color('dark'), darker);
      }
    }
  }
  .background-image {
    animation-name: slideInUp;
    animation-duration: 0.5s;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    box-shadow: inset 0px -37vw 30vw -10vw rgba(map_get(theme-color('primary'), 'darker'),0.9);
  }
  &__content {
    animation-name: slideInUp;
    animation-duration: 0.5s;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(map-get(theme-color('dark'), darker),0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: map-get(theme-color('light'), darker);
    padding: $grid-gutter-width-base;
    h3 {
      font-size: 3rem;
      display: flex;
      align-items: center;
      font-weight: 700;
      img {
        margin-right: 10px;
        width: 50%;
      }
      + h1 {
        font-weight: 300;
        word-wrap: break-word;
      }
    }
    h1 {
      font-size: 4rem;
      text-transform: capitalize;
      flex: 1 1 100%;
    }
    .info {
      flex: 0 75%;
      text-align: left;
      padding: 0 $grid-gutter-width-base * 2;
    }
    img {
      max-width: 100%;
    }
    .album-cover {
      flex: 1 25%;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.playlist-show {
  .playing-overlay {
    max-width: 75%; //calc(75% - #{$navdrawer-width});
  }
}
